.footer {
  background-color: #000;
}

.footer_container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.footer_texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #fafafa;
}

.contato_item {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fafafa;
  margin-bottom: 30px;
}

.contato_item a {
  color: #fafafa;
}

.footer_copy {
  font-size: 1.125rem;
  color: #8f8f8f;
  grid-column: 1/-1;
}

@media screen and (max-width: 800px) {
  .footer_container {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .footer_texto {
    font-size: 1.5rem;
  }
}
